***********************************************************
*                                                         *
* DRILL TAPE SUMMARY REPORT                               *
*                                                         *
* C:\DOCUMENTS AND SETTINGS\UTENTE\DESKTOP\LCSS\LCSS.MAX  *
* Thu Jul 23 11:16:00 2020                                *
*                                                         *
***********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      103      200      100                                                                                 
T2       394      114      200      100                                                                                 
T3       413      7        200      100                                                                                 
T4       905      2        200      100                                                                                 
T5       1181     3        200      100                                                                                 
